@model ThingType

<h1>Create ThingType</h1>
<form action="" method="post">
    <input name="ID" type="number" />
    <input name="Name" type="text" />
    <input name="CanShare" type="checkbox" value="true">
    <input type="submit" value="Submit" />
</form>
@Model.ID
@Model.Name
@Model.CanShare