@{
    ViewData["Title"] = "Drinks";
}

<div class="text-center">
    <h1 class="display-4">Drinks</h1>
    <p>Drinks are cool!</p>
    <a href="/Drink/RootBeer">RootBeer</a>
    <a asp-controller="Drink" asp-action="RootBeer">RootBeer ASP</a>
</div>
